@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  #animated-bg {
    background: url("../public/img/bg1-1920x1080.jpg") no-repeat center center;
    transition: 3s ease-in-out;
    min-height: 100vh;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  div.preload-images {
    background: url("../public/img/bg1-1920x1080.jpg") no-repeat -9999px -9999px;
    background: url("../public/img/bg1-1920x1080.jpg") no-repeat -9999px -9999px,
      url("../public/img/bg2-1920x1080.jpg") no-repeat -9999px -9999px,
      url("../public/img/bg3-1920x1080.jpg") no-repeat -9999px -9999px,
      url("../public/img/bg4-1920x1080.jpg") no-repeat -9999px -9999px,
      url("../public/img/bg5-1920x1080.jpg") no-repeat -9999px -9999px,
      url("../public/img/bg6-1920x1080.jpg") no-repeat -9999px -9999px,
      url("../public/img/bg7-1920x1080.jpg") no-repeat -9999px -9999px,
      url("../public/img/bg8-1920x1080.jpg") no-repeat -9999px -9999px,
      url("../public/img/bg9-1920x1080.jpg") no-repeat -9999px -9999px;
  }
}